n8n/line-keight-workflow.json
{
  "name": "エイト薬局 LINE Webhook（セルフホスト）",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "line-keight",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "LINE Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "line-keight-pharmacy"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "即時応答 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\r\n * LINE Webhook 署名検証（n8n Code ノード用）\r\n * require('crypto') は禁止のため Web Crypto API を使用\r\n */\r\nconst secret = $env.LINE_CHANNEL_SECRET;\r\nif (!secret) {\r\n  throw new Error('環境変数 LINE_CHANNEL_SECRET を設定してください');\r\n}\r\n\r\nconst item = $input.first().json;\r\nconst headers = item.headers || {};\r\nconst signature = headers['x-line-signature'] || headers['X-Line-Signature'];\r\n\r\nif (!signature) {\r\n  return [{ json: { valid: false, reason: 'missing_signature', events: [] } }];\r\n}\r\n\r\nconst rawBody = item.rawBody;\r\nlet bodyString;\r\n\r\nif (typeof rawBody === 'string') {\r\n  bodyString = rawBody;\r\n} else if (typeof Buffer !== 'undefined' && Buffer.isBuffer(rawBody)) {\r\n  bodyString = rawBody.toString('utf8');\r\n} else if (rawBody && rawBody.type === 'Buffer' && Array.isArray(rawBody.data)) {\r\n  bodyString = Buffer.from(rawBody.data).toString('utf8');\r\n} else {\r\n  bodyString = JSON.stringify(item.body ?? item);\r\n}\r\n\r\nasync function hmacSha256Base64(key, message) {\r\n  const enc = new TextEncoder();\r\n  const cryptoKey = await crypto.subtle.importKey(\r\n    'raw',\r\n    enc.encode(key),\r\n    { name: 'HMAC', hash: 'SHA-256' },\r\n    false,\r\n    ['sign']\r\n  );\r\n  const sig = await crypto.subtle.sign('HMAC', cryptoKey, enc.encode(message));\r\n  const bytes = new Uint8Array(sig);\r\n  let binary = '';\r\n  bytes.forEach((b) => {\r\n    binary += String.fromCharCode(b);\r\n  });\r\n  return btoa(binary);\r\n}\r\n\r\nreturn (async () => {\r\n  const hash = await hmacSha256Base64(secret, bodyString);\r\n  const valid = hash === signature;\r\n\r\n  let payload = {};\r\n  try {\r\n    payload = JSON.parse(bodyString);\r\n  } catch {\r\n    payload = item.body ?? item;\r\n  }\r\n\r\n  return [\r\n    {\r\n      json: {\r\n        valid,\r\n        reason: valid ? 'ok' : 'invalid_signature',\r\n        events: payload.events || [],\r\n        destination: payload.destination ?? null,\r\n      },\r\n    },\r\n  ];\r\n})();\r\n"
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "署名検証",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "sig-ok",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "署名OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const events = $json.events || [];\nif (events.length === 0) {\n  return [{ json: { skip: true, reason: 'no_events' } }];\n}\n\nconst TZ = 'Asia/Tokyo';\nconst now = new Date();\nconst jst = new Date(now.toLocaleString('en-US', { timeZone: TZ }));\nconst day = jst.getDay(); // 0=日\nconst hour = jst.getHours();\nconst minute = jst.getMinutes();\nconst minutes = hour * 60 + minute;\n\nfunction isOpen() {\n  if (day === 0) return false; // 日曜\n  // 祝日は未対応（Google Calendar 連携で拡張可）\n  if ([1, 2, 3, 5].includes(day)) {\n    return minutes >= 9 * 60 && minutes < 18 * 60;\n  }\n  if ([4, 6].includes(day)) {\n    return minutes >= 9 * 60 && minutes < 13 * 60;\n  }\n  return false;\n}\n\nconst open = isOpen();\n\nconst MSG = {\n  welcome: `エイト薬局の公式LINEへようこそ。\n\n処方せんの送信やお薬のご相談は、このトークからお気軽にどうぞ。\n\n【営業時間】\n月・火・水・金 9:00〜18:00\n木・土 9:00〜13:00\n定休日 日曜・祝日\n\n【お電話】03-6271-6284`,\n  prescription: `処方せんのご送付ありがとうございます。\n\nお写真をそのままお送りいただくか、ご来院時に処方せんをお渡しください。内容を確認のうえ、ご連絡いたします。\n\nお急ぎの方は 03-6271-6284 までお電話ください。`,\n  consult: `お薬に関するご相談ありがとうございます。\n\n症状やお薬の名前、ご不明点をメッセージでお送りください。担当薬剤師が確認してご返信いたします。`,\n  hours: `【営業時間】\n月・火・水・金 9:00〜18:00\n木・土 9:00〜13:00\n定休日 日曜・祝日\n\n【所在地】\n〒143-0012\n東京都大田区大森東1-4-5 サワビル1階\n\n【TEL】03-6271-6284`,\n  image: `画像を受け取りました。ありがとうございます。\n\n処方せんの可能性がある場合は、担当者が確認いたします。しばらくお待ちください。`,\n  default: `お問い合わせありがとうございます。\n\n担当者が確認次第、ご返信いたします。\nお急ぎの方はお電話ください。\n\n☎ 03-6271-6284`,\n  closed: `現在、営業時間外です。\n\n【営業時間】\n月・火・水・金 9:00〜18:00\n木・土 9:00〜13:00\n定休日 日曜・祝日\n\nメッセージは確認し、営業開始後にご返信いたします。\nお急ぎの方は 03-6271-6284 までお電話ください。`\n};\n\nfunction pickReply(event) {\n  const type = event.type;\n  const replyToken = event.replyToken;\n  const userId = event.source?.userId || 'unknown';\n\n  if (!replyToken) {\n    return null;\n  }\n\n  let text = MSG.default;\n  let notifyType = 'general';\n  let notifyDetail = '';\n\n  if (type === 'follow') {\n    text = MSG.welcome;\n    notifyType = 'follow';\n  } else if (type === 'message') {\n    const msg = event.message || {};\n    if (msg.type === 'text') {\n      const t = (msg.text || '').trim();\n      const lower = t.toLowerCase();\n      if (/処方|処方箋|処方せん|shohousen/i.test(t)) {\n        text = MSG.prescription;\n        notifyType = 'prescription';\n        notifyDetail = t;\n      } else if (/相談|くすり|薬|飲み方|副作用/.test(t)) {\n        text = MSG.consult;\n        notifyType = 'consult';\n        notifyDetail = t;\n      } else if (/営業|時間|休み|定休|開いて|何時/.test(t)) {\n        text = MSG.hours;\n        notifyType = 'hours';\n      } else {\n        notifyType = 'message';\n        notifyDetail = t;\n      }\n      if (!open && type === 'message') {\n        text = MSG.closed + '\\n\\n---\\n' + text;\n      }\n    } else if (msg.type === 'image') {\n      text = MSG.image;\n      notifyType = 'image';\n      notifyDetail = msg.id || '';\n      if (!open) {\n        text = MSG.closed + '\\n\\n---\\n' + text;\n      }\n    } else {\n      notifyType = 'other_message';\n      notifyDetail = msg.type || '';\n    }\n  } else if (type === 'unfollow') {\n    return {\n      skipReply: true,\n      notifyType: 'unfollow',\n      userId,\n      eventType: type\n    };\n  } else {\n    return null;\n  }\n\n  return {\n    skipReply: false,\n    replyToken,\n    userId,\n    eventType: type,\n    replyText: text,\n    notifyType,\n    notifyDetail,\n    isOpen: open\n  };\n}\n\nconst outputs = [];\nfor (const event of events) {\n  const item = pickReply(event);\n  if (item) outputs.push({ json: item });\n}\n\nif (outputs.length === 0) {\n  return [];\n}\n\nreturn outputs;"
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "イベント解析",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "need-reply",
              "leftValue": "={{ $json.skipReply }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "返信が必要",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.LINE_CHANNEL_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $json.replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": {{ JSON.stringify($json.replyText) }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "LINEへ返信",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        160
      ],
      "notesInFlow": true,
      "notes": "環境変数 LINE_CHANNEL_ACCESS_TOKEN を使用"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "notify-enabled",
              "leftValue": "={{ $env.STAFF_NOTIFY_WEBHOOK_URL }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "not-unfollow-only",
              "leftValue": "={{ $json.notifyType }}",
              "rightValue": "unfollow",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "スタッフ通知ON",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.STAFF_NOTIFY_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"【エイト薬局 LINE】\\n種別: {{ $json.notifyType }}\\nユーザー: {{ $json.userId }}\\n営業中: {{ $json.isOpen }}\\n内容: {{ $json.notifyDetail || '(なし)' }}\\n時刻: {{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "スタッフへ通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        400
      ],
      "notesInFlow": true,
      "notes": "Slack Incoming Webhook / Discord 等の URL を STAFF_NOTIFY_WEBHOOK_URL に設定"
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-000a-4000-8000-00000000000a",
      "name": "署名NG（終了）",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        720,
        440
      ]
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-000b-4000-8000-00000000000b",
      "name": "返信スキップ",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ]
    }
  ],
  "connections": {
    "LINE Webhook": {
      "main": [
        [
          {
            "node": "即時応答 200",
            "type": "main",
            "index": 0
          },
          {
            "node": "署名検証",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "署名検証": {
      "main": [
        [
          {
            "node": "署名OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "署名OK": {
      "main": [
        [
          {
            "node": "イベント解析",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "署名NG（終了）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "イベント解析": {
      "main": [
        [
          {
            "node": "返信が必要",
            "type": "main",
            "index": 0
          },
          {
            "node": "スタッフ通知ON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "返信が必要": {
      "main": [
        [
          {
            "node": "LINEへ返信",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "返信スキップ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "スタッフ通知ON": {
      "main": [
        [
          {
            "node": "スタッフへ通知",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "keight-pharmacy-line"
  }
}